[submodule "my-calendar"]
	path = my-calendar
	url = https://github.com/ellipsis-ai/my-calendar
[submodule "github"]
	path = github
	url = https://github.com/ellipsis-ai/github
[submodule "aws"]
	path = aws
	url = https://github.com/ellipsis-ai/aws
[submodule "standup"]
	path = standup
	url = https://github.com/ellipsis-ai/standup-with-blockers
[submodule "empathetic_bot"]
	path = empathetic_bot
	url = https://github.com/ellipsis-ai/empathetic_bot
[submodule "kudos"]
	path = kudos
	url = https://github.com/ellipsis-ai/kudos
[submodule "todoist"]
	path = todoist
	url = https://github.com/ellipsis-ai/todoist
[submodule "pivotal_tracker"]
	path = pivotal_tracker
	url = https://github.com/ellipsis-ai/pivotal_tracker
[submodule "time_zones"]
	path = time_zones
	url = https://github.com/ellipsis-ai/time_zones
[submodule "words"]
	path = words
	url = https://github.com/ellipsis-ai/words
